<div class="full-screen">
  <!-- content section -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block-header">
                <h2>Dashboard</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown="">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" href="" uib-dropdown-toggle="">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
      </div>
    </div>

    <!-- row -->
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h2> <input type="text" ng-model="project.title"> 
              <small><input type="text" ng-model="project.description"></small></h2>
          </div>
          <div class="card-body card-padding">
            <!-- html box -->
            <form class="form-horizontal clearfix" action="javascript:;">
              <div text-angular ng-model="project.pageContent" ta-toolbar="[['h1', 'h2', 'h3', 'h4'], ['bold', 'italics', 'underline'], ['insertImage', 'insertLink', 'insertVideo'], ['justifyLeft', 'justifyCenter', 'justifyRight']]"></div>
            </form> 
            <!-- end html box -->
            <ul class="categories">
              <li class="category" ng-repeat="category in categories">
                <span ng-bind="category.name"></span><i class="fa fa-close" ng-click="removeCategory($index)" ></i>
              </li>
              <input type="text" ng-model="category" enter="addCategory()" placeholder="category">
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <div class="card-body card-padding"> -->
        <div class="card">
          <div class="card-body card-padding">
            <div class="chart">
                <div id="donut-chart" class="flot-chart-pie"></div>
                <div class="flc-donut hidden-xs"></div>
            </div>
           <div class="radio m-b-15">
                <label>
                    <input type="radio" ng-model="project.type" value="free">
                    <i class="input-helper"></i>
                    Free
                </label>
            </div>

            <div class="radio m-b-15">
                <label>
                    <input type="radio" ng-model="project.type" value="price">
                    <i class="input-helper"></i>
                    Set a price:
                </label>
            </div>
            <div class="form-group fg-line">
              <input type="text" class="form-control" data-input-mask="{mask: '000.000.000.000.000,00'}" placeholder="$ price" ng-model="project.price">
            </div>

            <button class="btn bgm-amber btn-block" ng-click="submitProject()">Save</button>
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="form-group fg-line">
           <label>Money</label>
           <input type="text" class="form-control" data-input-mask="{mask: '000.000.000.000.000,00'}" placeholder="price">
         </div> -->
      </div>
    </div> <!-- end row -->


  </div> <!-- end content section -->


</div>
