body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main {
	position: relative;
	padding-bottom: 50px;
	padding-top: 50px;	
}

#header {
    background-color: #03a9f4;
}

.content {
    padding: 1rem;
}

.row {
	position: relative;
}

.bgm-red {
	background-color: #f44336 !important
}

.btn.bgm-red.btn-float.waves-effect {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.search-input {
    height: 18px;
    font-size: 0.8rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color rgb(255, 255, 255);
    border-radius: 0px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
}


.flot-tooltip,
#flotTip {
  position: absolute;
  color: #333;
  display: none;
  font-size: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 3px 10px;
  background-color: #fff;
  z-index: 99999;
}
[class*="flc-"] {
  text-align: center;
  margin: 10px 0 5px;
}
[class*="flc-"] table {
  display: inline-block;
}
[class*="flc-"] .legendColorBox > div {
  border: #fff !important;
}
[class*="flc-"] .legendColorBox > div > div {
  border-radius: 50%;
}
[class*="flc-"] .legendLabel {
  padding: 0 8px 0 3px;
}