<div class="full-screen">
  <!-- content section -->
  <div class="container">

    <!-- row -->
    <div class="row">
      <div class="col-md-9">
        <!-- html box -->
        <form class="form-horizontal clearfix" action="javascript:;">
          <div text-angular ng-model="replyBox" ta-toolbar="[['h1', 'h2', 'h3', 'h4'], ['bold', 'italics', 'underline'], ['insertImage', 'insertLink', 'insertVideo'], ['justifyLeft', 'justifyCenter', 'justifyRight']]"></div>
        </form> <!-- end html box -->
      </div>
      <div class="col-md-3">
         <button class="btn bgm-amber btn-block">Save</button>
         <br>
         <br>
        <!-- <div class="card-body card-padding"> -->
        <div class="card">
          <div class="card-body card-padding">
           <div class="radio m-b-15">
                <label>
                    <input type="radio" name="sample" value="">
                    <i class="input-helper"></i>
                    Free
                </label>
            </div>

            <div class="radio m-b-15">
                <label>
                    <input type="radio" name="sample" value="">
                    <i class="input-helper"></i>
                    Set a price:
                </label>
            </div>
            <div class="form-group fg-line">
              <input type="text" class="form-control" data-input-mask="{mask: '000.000.000.000.000,00'}" placeholder="$ price">
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="form-group fg-line">
           <label>Money</label>
           <input type="text" class="form-control" data-input-mask="{mask: '000.000.000.000.000,00'}" placeholder="price">
         </div> -->
      </div>
    </div> <!-- end row -->


  </div> <!-- end content section -->


</div>
