<div class="padding">
	<div class="row">
		<!-- profile -->
		<div class="col-sm-6 col-md-3">
			<div class="box">
				<div class="box-tool">
							<ul class="nav">
								<li class="nav-item inline dropdown">
									<a class="nav-link text-muted" data-toggle="dropdown">
										<i class="material-icons md-18">&#xe164;</i>
									</a>
									<div class="dropdown-menu dropdown-menu-scale pull-right dark">
										<a class="dropdown-item" href>Invite someone</a>
									</div>
								</li>
							</ul>
					</div>
					<div class="p-a-md text-center">
						<p><img src="../assets/images/a1.jpg" class="img-circle w-xs"></p>
						<a href class="text-md block">{{userProfile.name}}</a>
						<p><small>{{userProfile.tech}}</small></p>
						<div>
							<a href="" class="btn btn-icon btn-social rounded white btn-sm">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-facebook indigo"></i>
						</a>
						<a href="" class="btn btn-icon btn-social rounded white btn-sm">
							<i class="fa fa-twitter"></i>
							<i class="fa fa-twitter light-blue"></i>
						</a>
						<a href="" class="btn btn-icon btn-social rounded white btn-sm">
							<i class="fa fa-google-plus"></i>
							<i class="fa fa-google-plus red"></i>
						</a>
						</div>
						<div class="text-center m-t">
							<a ng-href="#/profile" class="btn btn-sm rounded {{app.setting.theme.primary}} w-sm m-y-xs">Go to my profile</a>
							<!--<a href class="btn btn-sm rounded btn-outline b-{{app.setting.theme.primary}} w-sm">Invite</a>-->
						</div>
					</div>
					<div class="row no-gutter b-t b-b">
					<div class="col-xs-4 b-r">
						<a class="p-a block text-center">
							<span class="block _600">{{userProfile.repos}}</span>
							<span>Repos</span>
						</a>
					</div>
					<div class="col-xs-4 b-r">
						<a class="p-a block text-center">
							<span class="block _600">{{userProfile.purchased}}</span>
							<span>Purchased</span>
						</a>
					</div>
					<div class="col-xs-4">
						<a class="p-a block text-center">
							<span class="block _600">{{userProfile.favorities}}</span>
							<span>Following</span>
						</a>
					</div>
				</div>
				<div class="p-a">
					<a href class="text-ellipsis"><i class="fa fa-globe text-muted m-r-sm"></i>{{userProfile.web}}</a>
				</div>
			</div>
			<!--<div class="box light lt">
							<div class="box-body">
								<a href class="pull-left m-r">
									<img src="../assets/images/a0.jpg" class="img-circle w-40">
								</a>
								<div class="clear p-a-xs">
									<a href>@Mike Mcalidek</a>
									<small class="block text-muted">2,415 followers / 225 tweets</small>
									<a href class="btn btn-sm btn-rounded white m-t-xs"><i class="fa fa-twitter m-t-xs"></i> Follow</a>
								</div>
							</div>
					</div> -->
			</div>
			<!-- end profile -->
	    <div class="col-sm-12 col-md-5">
				<!-- my repositories -->
				<div class="box">
	    		<div class="box-header b-b">
	    			<h3>My Repositories <span class="label success">2</span>  	<button class="btn btn-sm white"ng-click="toggleMyRepo()"><i class="fa fa-caret-down"></i></button></h3>
	    		</div>
					<div ng-hide="showMyRepo">
						<ul class="list">
              <li class="list-item" ng-repeat="repo in myRepos">
                <div class="list-body">
									<a href class="text-info">@{{repo.name}}</a>
                  <p>{{repo.content | limitTo: 180 }}{{repo.content.length > 180 ? ' [...]' : ''}}</p>
									<div>
						        <span class="label success pos-rlt m-r-xs"><b class="arrow right b-success pull-in"></b>Tags</span>
						        <a href class="m-x-xs" ng-repeat="tech in repo.clasification">{{tech}}</a>
										<small class="block text-muted"><i class="fa fa-fw fa-{{repo.type}}"></i>  ${{repo.price}}</small>
						      </div>
								</div>
              </li>
            </ul>
					</div>
	    	</div> <!-- end my repositories -->

				<!-- bought repositories -->
				<div class="box">
	    		<div class="box-header b-b">
	    			<h3>Purchased Repositories <span class="label success">2</span>    <button class="btn btn-sm white"ng-click="toggleBoughtRepo()"><i class="fa fa-caret-down"></i></button></h3>
	    		</div>
					<div ng-hide="showBoughtRepo">
						<ul class="list">
							<li class="list-item" ng-repeat="repo in boughtRepos">
								<div class="list-body">
									<a href class="text-info">@{{repo.name}}</a>
									<p>{{repo.content | limitTo: 180 }}{{repo.content.length > 180 ? ' [...]' : ''}}</p>
									<div>
										<span class="label success pos-rlt m-r-xs"><b class="arrow right b-success pull-in"></b>Tags</span>
										<a href class="m-x-xs" ng-repeat="tech in repo.clasification">{{tech}}</a>
										<small class="block text-muted"><i class="fa fa-fw fa-{{repo.type}}"></i>  ${{repo.price}}</small>
									</div>
								</div>
							</li>
						</ul>
					</div>
	    	</div> <!-- end bought repositories -->

				<!-- favorites repositories -->
				<div class="box">
	    		<div class="box-header b-b">
	    			<h3>Favorites Repositories <span class="label success">1</span>    <button class="btn btn-sm white"ng-click="toggleFavoriteRepo()"><i class="fa fa-caret-down"></i></button></h3>
	    		</div>
					<div ng-hide="showFavoriteRepo">
						<ul class="list">
							<li class="list-item" ng-repeat="repo in favoriteRepos">
								<div class="list-body">
									<a href class="text-info">@{{repo.name}}</a>
									<p>{{repo.content | limitTo: 180 }}{{repo.content.length > 180 ? ' [...]' : ''}}</p>
									<div>
										<span class="label success pos-rlt m-r-xs"><b class="arrow right b-success pull-in"></b>Tags</span>
										<a href class="m-x-xs" ng-repeat="tech in repo.clasification">{{tech}}</a>
										<small class="block text-muted"><i class="fa fa-fw fa-{{repo.type}}"></i>  ${{repo.price}}</small>
									</div>
								</div>
							</li>
						</ul>
					</div>
	    	</div> <!-- end favorites repositories -->

	  	</div>
	    <div class="col-sm-6 col-md-4">
	    	<div class="box">
	    		<div class="box-header">
	    			<h4>Best Repositories</h4>
	    		</div>
					<div>
						<ul class="list">
							<li class="list-item" ng-repeat="repo in bestRepos">
								<div class="list-body">
									<a href class="text-info">@{{repo.name}}</a>
									<p>{{repo.content | limitTo: 180 }}{{repo.content.length > 180 ? ' [...]' : ''}}</p>
									<div>
										<span class="label success pos-rlt m-r-xs"><b class="arrow right b-success pull-in"></b>Tags</span>
										<a href class="m-x-xs" ng-repeat="tech in repo.clasification">{{tech}}</a>
										<small class="block text-muted"><i class="fa fa-fw fa-{{repo.type}}"></i>  ${{repo.price}}</small>
									</div>
								</div>
							</li>
						</ul>
					</div>
	      </div>
	      <div class="box light lt p-a-lg text-center">
	        AD
	      </div>
	    </div>
	</div>
</div>
