<div class="container">
  <!-- card section -->
  <div class="card">
    <div class="card-body card-padding">
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
        <div class="fg-line">
          <input type="text" class="form-control input-lg" placeholder="Search for a repository">
        </div>
      </div>
    </div>
  </div> <!-- end card section -->

  <!-- search result -->
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bgm-bluegray m-b-20">
        <h2>Some Title <small>Phasellus condimentum ipsum id auctor</small></h2>
        <ul class="actions actions-alt">
          <li class="dropdown" uib-dropdown>
            <a href="" uib-dropdown-toggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Change Date Range</a>
              </li>
              <li>
                <a href="">Change Graph Type</a>
              </li>
              <li>
                <a href="">Other Settings</a>
              </li>
            </ul>
          </li>
        </ul>

        <button class="btn bgm-blue btn-float waves-effect"><i class="zmdi zmdi-mail-send"></i></button>
      </div>

      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
  </div> <!-- end search result -->
</div>
