<div class="full-screen">
  <!-- profile section -->
  <div class="container">

    <div class="row grid">
      <div class="col-sm-4" ng-repeat="repo in repos">
            <div class="card">
                <div class="card-header ch-alt m-b-20">
                    <h2>{{repo.name}} <small>{{repo.language}}</small></h2>
                    <!--
                    <ul class="actions">
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-refresh-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-download"></i>
                            </a>
                        </li>
                        <li class="dropdown" uib-dropdown="">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" href="" uib-dropdown-toggle="">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Change Date Range</a>
                                </li>
                                <li>
                                    <a href="">Change Graph Type</a>
                                </li>
                                <li>
                                    <a href="">Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    -->
                    <a href="#/profile/import/{{repo.owner.login}}/{{repo.name}}"class="btn bgm-red btn-float"><i class="zmdi zmdi-plus"></i></a>
                </div>

                <div class="card-body card-padding" ng-bind="repo.description">
                </div>
            </div>
        </div>
    </div>
  </div> <!-- end profile section -->


</div>
