<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link href="vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="vendor/textAngular/dist/textAngular.css" rel="stylesheet">

    <!--<link href="vendor/openlayers3/build/ol.css" rel="stylesheet" />-->
    <!--<link href="vendor/angular-openlayers-directive/dist/angular-openlayers-directive.css" rel="stylesheet">-->

  </head>
  <body ng-app="geospatial" ng-controller="MainController as mainCtrl">
  	<header id="header" data-ng-include="'template/header.html'"></header>

  	<section id="main">
	  	<aside id="sidebar" data-ng-include="'template/sidebar.html'"></aside>
        <section class="notification" ng-class="{ active: message }" >
            <span ng-class="{danger: message.type == 'danger'}" ng-bind="message.text"></span>
        </section>
	  	<section ng-view></section>
	</section>

    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="vendor/textAngular/dist/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="vendor/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="vendor/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="vendor/ngstorage/ngStorage.js"></script>
    <script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="vendor/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="vendor/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="vendor/flot.tooltip/js/jquery.flot.tooltip.js"></script>

    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap.js"></script>

    <script type="text/javascript" src="vendor/braintree-web/dist/braintree.js"></script>
    <!--<script type="text/javascript" src="vendor/braintree-angular/dist/braintree-angular.js"></script>-->


    <script type="text/javascript" src="js/app.js"></script>
    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/main-controller.js"></script>
    <script type="text/javascript" src="js/controllers/dashboard-controller.js"></script>
    <script type="text/javascript" src="js/controllers/profile-controller.js"></script>
    <script type="text/javascript" src="js/controllers/github-import-controller.js"></script>
    <script type="text/javascript" src="js/controllers/repo-content-controller.js"></script>
    <script type="text/javascript" src="js/controllers/search-main-controller.js"></script>
    <script type="text/javascript" src="js/controllers/payment-controller.js"></script>
    <!-- Services -->
    <script type="text/javascript" src="js/services/auth-service.js"></script>
    <script type="text/javascript" src="js/services/project-service.js"></script>
    <!-- Directives -->
    <script type="text/javascript" src="js/directives/enter.js"></script>
  </body>
</html>
